<!-- <div class="card">
  <p-fileUpload name="demo[]" url="./upload.php" (onUpload)="onUpload($event)"
  [multiple]="false" accept="image/*" [maxFileSize]="1000000">
    <ng-template pTemplate="content">
      <div *ngIf="selectedFile.length">
        <p>{{selectedFile.name}} - {{selectedFile.size}} bytes</p>
      </div>
    </ng-template>
  </p-fileUpload>
</div> -->

<p-card>
  <ng-template pTemplate="title">
    Upload Image
  </ng-template>
  <ng-template pTemplate="subtitle">
    Select image to upload
  </ng-template>
  <ng-template pTemplate="content">
    UPLOAD
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="grid grid-nogutter justify-content-end">
      <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
    </div>
  </ng-template>
</p-card>